* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0;
	font-family: manrope;
	font-weight: medium;	
	font-size: 1em;
	line-height: 1.428em;
	color: #eee8d5;
	-webkit-background-size: cover;
	background-color: #002B36;
  	background-size: cover;
  	background-attachment: fixed;
	padding: 60px;
  	min-height: 100vh;
}
h2 {
    text-align: center;
}
.container {
    width: 90%;
    margin: 1% auto;
    background: #002B36;
    border-radius: 3px;
    padding: 50px; 25px;
    text-align: left;
}

#links {
    font-size: large;
    text-align: center;
    margin: auto;
    max-width: 600px;
    background-color: var(--color256);
    padding: 5px;
    border-radius: 10px;
    /* margin-bottom: 6em */
}

#links img {
    height: 1.25em;
    transition: transform .2s; /* Animation */
}

#cat:hover img {
    transform: scale(1.5);
}    

#cat {
    display: inline;
}

@media (max-width: 650px) {
	body {
		margin: 0;
		font-size: 1em;
		line-height: 1.428em;
		color: #1e1e1e;
		-webkit-background-size: cover;
 			background-size: cover;
 			background-attachment: fixed;
		padding: 0px;
 			min-height: 100vh;
	}
	.container {
	    	width: 95%;
	    	margin: 10px auto;
	    	background: white;
	    	border-radius: 8px;
    		padding: 50px; 25px;
    		text-align: left;	
	}
}

@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Regular.woff") format('woff');
}
@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Medium.woff") format('woff');
    font-weight: medium;
}
@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Bold.woff") format('woff');
    font-weight: bold;
}
