* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0;
	font-family: manrope;
	font-weight: medium;	
	font-size: 1em;
	line-height: 1.428em;
	color: #eee8d5;
	background-color: #1E1E1E;
	padding: 60px;
  	min-height: 100vh;
}
h2 {
    text-align: center;
}
.container {
    width: 95%;
    margin: 1% auto;
    background: #303030;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
}

.navobj {
  float: left;
  border-radius: 5px;
  border-right: 16px solid #303030;
}

.navobj:last-child {
  border-right: none;
}

.navobj a {
  display: block;
  color: white;
  background-color: #3584E4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.navobj a:hover {
  background-color: #1A5FB4;
}

#links {
    font-size: large;
    text-align: center;
    margin: auto;
    max-width: 600px;
    background-color: var(--color256);
    padding: 5px;
    border-radius: 10px;
    /* margin-bottom: 6em */
}

#links img {
    height: 1.25em;
    transition: transform .2s; /* Animation */
}

#cat:hover img {
    transform: scale(1.5);
}    

#cat {
    display: inline;
}

@media (max-width: 650px) {
	body {
		margin: 0;
		font-size: 1em;
		line-height: 1.428em;
		padding: 0px;
 			min-height: 100vh;
	}
	.container {
	    	width: 95%;
	    	margin: 10px auto;
	    	border-radius: 8px;
    		padding: 50px; 25px;
    		text-align: left;	
	}
}

@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Regular.woff") format('woff');
}
@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Medium.woff") format('woff');
    font-weight: medium;
}
@font-face {
    font-family: "manrope";
    src: url("/fonts/Manrope-Bold.woff") format('woff');
    font-weight: bold;
}
